header {
    display: flex;
    flex-direction: column;
    /* padding: 5px 0; */
    background-color: #2d2d30;
    position: fixed;
    top: 0;
    width: 100%;
}
header .headerTitle {
    /* background-color: red; */
    color: #408738;
    font-size: 2em;
    text-decoration: none;
    cursor: default;
}

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .headerLogin {
    display: inline-flex;
}
header .headerLogin > * {
    background-color: rgba(255, 255, 255, 0.027);
      padding: 5px;
      margin-left: 5px !important;
      margin: 2px;
      border: 1px solid rgba(255, 255, 255, 0.11);
}

header a, header a:visited{
    color: white;
    text-decoration: none;
  }

    header .selectedTab{
      background-color: rgba(255, 255, 255, 0.123);
      border: 1px solid gray;
    }