.postPreviewTitle, .postPreviewTitle a, .postPreviewTitle a:visited {
    color: #4ac6b0;
    text-decoration: none;
    cursor: pointer;
}

.postPreviewTitle a:hover {
    color: #86fce6;
}

.postPreviewAuthor {
    display: inline-flex;
}
.postPreviewContent {
    margin: 5px 0;
    padding: 10px 0;
    border: 1px dashed rgba(255, 255, 255, 0.082);
    border-left: none;
    border-right: none;
}

.bordered {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.082);
}

.postCategories {
    margin-top: 5px;
    padding: 0px 10px;
    padding-top: 5px;
    border-top: 1px dashed rgba(255, 255, 255, 0.082);
}
/* 
main .wrapper > * {
    padding-bottom: 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.308);
}
main .wrapper >*:last-child {
    padding-bottom: 20px;
    border: none !important;
}
main .wrapper >*:first-child {
    padding-top: 20px;
    border-top: 1px dashed rgba(255, 255, 255, 0.308);
} */