html {
  /* background-color: #2d2d30; */
  background-color: #1e1e1e;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: white;
  text-align: justify;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.disabledLink {
  pointer-events: none;
  color: red;
}

.postTitle, .postTitle a, .postTitle a:visited {
  color: #4ac6b0;
  text-decoration: none;
  cursor: pointer;
}

.postTitle a:hover {
  color: #86fce6;
}