html {
  /* background-color: #2d2d30; */
  background-color: #1e1e1e;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: white;
  text-align: justify;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > * {
  margin: 0px 8px;
}

.disabledLink {
  pointer-events: none;
  color: red;
}

.postTitle, .postTitle a, .postTitle a:visited {
  color: #4ac6b0;
  text-decoration: none;
  cursor: pointer;
}

.postTitle a:hover {
  color: #86fce6;
}

.roleUser {
  color: yellow;
}
.roleModerator {
  color: orange;
}
.roleAdmin {
  color: red;
}

.userPreview, .userPreview > *{
  display: inline-flex;
  margin-left: 5px;
}
.userPreview .username {
  text-decoration: underline;
}

.username, .username a, .username a:visited {
  color: rgb(218, 218, 178);
  text-decoration: none;
  cursor: pointer;
}

.customButton, .customButton a, .customButton a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.customButton {
    display: inline-flex;
}
.customButton > * {
    background-color: rgba(255, 255, 255, 0.027);
    padding: 5px 10px;
    margin-right: 4px;
    border: 1px solid rgba(255, 255, 255, 0.11);
}

.postTitle a {  
  text-decoration: underline;
}

.categoryPreview, .categoryPreview a, .categoryPreview a:visited{
  color: white;
  text-decoration: underline gray;
  margin-bottom: 3px;
}
.categoryPreview a {
  padding: 2px 7px;
  border: 1px solid rgba(255, 255, 255, 0.055);
}