html {
  /* background-color: #2d2d30; */
  background-color: #1e1e1e;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: white;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.disabledLink {
  pointer-events: none;
  color: red;
}